.container {
  height: 26rem;
  width: 17.5rem;
  background-color: black;
  border-radius: var(--main-border-radius);
  border: var(--main-border);
  position: absolute;
  top: 2.85rem;
  left: 5.3rem;
  display: flex;
  flex-direction: column;
}

.headersWrap {
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.6rem;
  height: 1.8rem;
}
.favorites,
.allCoins {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.favorites:hover,
.allCoins:hover {
  background-color: var(--hover);
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.chosenTab {
  font-weight: 500;
  pointer-events: none;
}

.icon {
  height: 16px;
  width: 16px;
  margin-right: 0.4rem;
}

.icon svg {
  height: 100%;
  width: 100%;
}
