.container {
  position: relative;
  margin-left: 16rem;
}

.searchButton {
  color: var(--white);
  border-radius: var(--main-border-radius);
  border: none;
  padding: 0.5rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.searchButton:hover {
  background-color: var(--hover);
}

.clicked {
  border: var(--main-border);
  background-color: var(--hover);
}

.icon {
  margin-right: 0.4rem;
  width: 20px;
  height: 20px;
}

.icon svg {
  width: 100%;
  height: 100%;
}
